unity-example/[Ll]ibrary/
unity-example/[Tt]emp/
unity-example/[Oo]bj/
unity-example/[Bb]uild/
unity-example/[Bb]uilds/
unity-example/[Ll]ogs/
unity-example/![Aa]ssets/**/*.meta
unity-example/.vs/
unity-example/*.sln
unity-example/*.csproj

Debug/
Release/
x64/
wvolume/x64/
wvolume/Release/
wvolume/Debug/
*.vs
*.sdf
*.opendb